* {
    margin: 0;
    padding: 0;
  }
  :root {
    --bg-color: rgb(31, 36, 45);
    --second-bg-color: #323946;
    --color-main: #0ef;
  }
  body {
    background-color: var(--second-bg-color);
  }
  .row {
    margin-top: 7%;
  }
  h1 {
    text-align: center;
  }
  h1 span {
    color: var(--color-main);
  }
  .navbar-brand span {
    color: var(--color-main);
    font-size: 130%;
    font-weight: bold;
  }
  a.navbar-brand {
    font-size: medium;
  }
  .offcanvas-body button {
    position: absolute;
    bottom: 15px;
    width: 98%;
    right: 10px;
    font-weight: bold;
    left: 5px;
    text-align: center;
    background-color: red;
    border-color: black;
  }
  
  .offcanvas-body button a{
      color: white;
      text-decoration: none;
  }
  .card .d-flex{
      width: 30%;
      justify-content: flex-end;
     
      
  }
  
  .card {
      display: flex;
      justify-content: flex-end;
    
  }
  
  .card table {
      margin-left: 1px;
      margin-right: 1px;
  }
  